 .submit{
    background-color: blue;
    color:aliceblue;
    font-size:x-small;
 } 
 .cancel{
    background-color: cornflowerblue;
    color:aliceblue;
    font-size:x-small;
 }
.user{
    font-size: large;
}
.password{
    font-size: large;
}